---
import { Image } from "astro:assets";
import montrealImg from "../images/cities/montreal.webp";
import beloeilImg from "../images/cities/beloeil.webp";
import bouchervilleImg from "../images/cities/boucherville.webp";
import brossardImg from "../images/cities/brossard.webp";
import candiacImg from "../images/cities/candiac.webp";
import carignanImg from "../images/cities/carignan.webp";
import chamblyImg from "../images/cities/chambly.webp";
import chateauguayImg from "../images/cities/chateauguay.webp";
import delsonImg from "../images/cities/delson.webp";
import laprairieImg from "../images/cities/laprairie.webp";
import longueuilImg from "../images/cities/longueuil.webp";
import marievilleImg from "../images/cities/marieville.webp";
import montsainthilaireImg from "../images/cities/mont-saint-hilaire.webp";
import richelieuImg from "../images/cities/richelieu.webp";
import saintbasileImg from "../images/cities/saint-basile.webp";
import saintbrunoImg from "../images/cities/saint-bruno.webp";
import saintconstantImg from "../images/cities/saint-constant.webp";
import sainthyacintheImg from "../images/cities/saint-hyacinthe.webp";
import saintjeanImg from "../images/cities/saint-jean.webp";
import saintjulieImg from "../images/cities/saint-julie.webp";
import saintlambertImg from "../images/cities/saint-lambert.webp";
import saintmathieuImg from "../images/cities/saint-mathieu.webp";
import saintecatherineImg from "../images/cities/sainte-catherine.webp";
import valleyogImg from "../images/cities/valley-og.webp";
import varennesImg from "../images/cities/varennes.webp";
---

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<div class="w-11/12 mx-auto my-24 relative">
  <div class="mx-auto max-w-2xl text-center my-24">
    <h2 class="text-4xl font-bold tracking-tight text-blue-950 sm:text-6xl">
      Villes Desservies
    </h2>
  </div>
  <div class="swiper multiple-slide-carousel swiper-container relative">
    <div class="swiper-wrapper pb-8 mb-16">
      <div class="swiper-slide">
        <div class="h-96 flex justify-center items-center">
          <a href="/longueuil/">
            <!-- <img
              src="../images/cities/longueuil.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={longueuilImg}
              alt="Débouchage Longueuil"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />

            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">Longueuil</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="h-96 flex justify-center items-center">
          <a href="/marieville/">
            <!-- <img
              src="../images/cities/marieville.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={marievilleImg}
              alt="Débouchage Marieville"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">Marieville</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/mont-saint-hilaire/">
            <!-- <img
              src="../images/cities/mont-saint-hilaire.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={montsainthilaireImg}
              alt="Débouchage Mont Saint-Hilaire"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">Mont Saint-Hilaire</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/montreal/">
            <!-- <img
              src="../images/cities/montreal.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={montrealImg}
              alt="Débouchage Montréal"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">Montréal</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/richelieu/">
            <!-- <img
              src="../images/cities/richelieu.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={richelieuImg}
              alt="Débouchage Richelieu"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">Richelieu</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/saint-basile-le-grand/">
            <!-- <img
              src="../images/cities/saint-basile.jfif"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={saintbasileImg}
              alt="Débouchage Saint-Basile-le-Grand"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">
                Saint-Basile-le-Grand
              </h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/saint-bruno-de-montarville/">
            <!-- <img
              src="../images/cities/saint-bruno.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={saintbrunoImg}
              alt="Débouchage Saint-Bruno-de-Montarville"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">
                Saint-Bruno-de-Montarville
              </h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/saint-constant/">
            <!-- <img
              src="../images/cities/saint-constant.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={saintconstantImg}
              alt="Débouchage Saint-Constant"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">Saint-Constant</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/saint-hyacinthe/">
            <!-- <img
              src="../images/cities/saint-hyacinthe.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={sainthyacintheImg}
              alt="Débouchage Saint-Hyacinthe"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">Saint-Hyacinthe</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/saint-jean-sur-richelieu/">
            <!-- <img
              src="../images/cities/saint-jean.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={saintjeanImg}
              alt="Débouchage Saint-Jean-sur-Richelieu"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">
                Saint-Jean-sur-Richelieu
              </h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/saint-lambert/">
            <!-- <img
              src="../images/cities/saint-lambert.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={saintlambertImg}
              alt="Débouchage Saint-Lambert"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">Saint-Lambert</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/saint-mathieu-de-beloeil/">
            <!-- <img
              src="../images/cities/saint-mathieu.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={saintmathieuImg}
              alt="Débouchage Saint-Mathieu-de-Beloeil"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">
                Saint-Mathieu-de-Beloeil
              </h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/sainte-catherine/">
            <!-- <img
              src="../images/cities/sainte-catherine.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={saintecatherineImg}
              alt="Débouchage Sainte-Catherine"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">Sainte-Catherine</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/sainte-julie/">
            <!-- <img
              src="../images/cities/sainte-julie.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={saintjulieImg}
              alt="Débouchage Sainte-Julie"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">Sainte-Julie</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/salaberry-de-valleyfield/">
            <!-- <img
              src="../images/cities/valley-og.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={valleyogImg}
              alt="Débouchage Salaberry-de-Valleyfield"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">
                Salaberry-de-Valleyfield
              </h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/varennes/">
            <!-- <img
              src="../images/cities/varennes.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={varennesImg}
              alt="Débouchage Varennes"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">Varennes</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/beloeil/">
            <!-- <img
              src="../images/cities/beloeil.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={beloeilImg}
              alt="Débouchage Beloeil"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">Débouchage Beloeil</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/boucherville/">
            <!-- <img
              src="../images/cities/boucherville.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={bouchervilleImg}
              alt="Débouchage Boucherville"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">Boucherville</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/brossard/">
            <!-- <img
              src="../images/cities/brossard.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={brossardImg}
              alt="Débouchage Brossard"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">Brossard</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/candiac/">
            <!-- <img
              src="../images/cities/candiac.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={candiacImg}
              alt="Débouchage Candiac"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">Débouchage Candiac</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/carignan/">
            <!-- <img
              src="../images/cities/carignan.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={carignanImg}
              alt="Débouchage Carignan"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">Carignan</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/chambly/">
            <!-- <img
              src="../images/cities/chambly.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={chamblyImg}
              alt="Débouchage Chambly"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">Débouchage Chambly</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/chateauguay/">
            <!-- <img
              src="../images/cities/chateauguay.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={chateauguayImg}
              alt="Débouchage Chateauguay"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">Chateauguay</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/delson/">
            <!-- <img
              src="../images/cities/delson.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={delsonImg}
              alt="Débouchage Delson"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">Débouchage Delson</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/laprairie/">
            <!-- <img
              src="../images/cities/laprairie.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            /> -->
            <Image
              src={laprairieImg}
              alt="Débouchage La prairie"
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
              format="webp"
              width={800}
              height={600}
              format="webp"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h3 class="text-3xl text-center font-bold">La prairie</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- Arrows -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <!-- Dots Pagination -->
    <div
      class="swiper-pagination absolute bottom-5 left-0 right-0 flex justify-center"
    >
    </div>
  </div>
</div>

<style>
  .swiper-wrapper {
    height: max-content !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 45%; /* Center vertically */
    z-index: 10;
    transform: translateY(-50%);
    width: 40px; /* Button size */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-prev {
    left: 10px; /* Position on the left */
  }

  .swiper-button-next {
    right: 10px; /* Position on the right */
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 3.5rem; /* Optional: Adjust arrow size */
    color: ##36c3fa; /* Arrow color */
  }
</style>

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Splide JS Initialization -->
<script is:inline>
  var swiper = new Swiper(".multiple-slide-carousel", {
    loop: true,
    slidesPerView: 3,
    spaceBetween: 20,
    autoplay: {
      delay: 4000, // Adjust delay in milliseconds (3000ms = 3s)
      disableOnInteraction: false, // Keep autoplay running after user interaction
    },
    navigation: {
      nextEl: ".multiple-slide-carousel .swiper-button-next",
      prevEl: ".multiple-slide-carousel .swiper-button-prev",
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true, // Allows users to click on dots to navigate
    },
    breakpoints: {
      1920: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
      1028: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
      500: {
        slidesPerView: 1,
        spaceBetween: 0,
      },
      250: {
        slidesPerView: 1,
        spaceBetween: 0,
      },
    },
  });
</script>
